<!-- views/partials/navbar.ejs -->
<div class="container-fluid bg-primary">
  <nav class="navbar navbar-expand navbar-dark bg-primary">
    <div class="container-fluid">
      <a style="color: black" class="navbar-brand" href="/">AFFAR</a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
      <ul
        class="navbar-nav ml-auto container-fluid"
        style="justify-content: end"
      >
        <% if (user) { %>
        <div
          class="btn-group nav-item"
          style="background: linear-gradient(#ff7f07, #e4cd00)"
        >
          <button type="button" class="btn">
            <i class="fa-solid fa-user"></i>
            <span> <%= user.name %> </span>
          </button>
          <button
            type="button"
            class="btn dropdown-toggle dropdown-toggle-split"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/users/logout">Logout</a>
            </li>
          </ul>
        </div>
        <% } else { %>
        <li class="nav-item" style="display: flex; flex-direction: row">
          <a class="nav-link" href="/users/login">Login</a>
          <a class="nav-link" href="/users/register">Register</a>
        </li>
        <% } %>
        <!-- Add to Cart Icon -->
        <li>
          <a class="nav-link" href="/cart" style="max-height: 30px">
            <i class="fa-solid fa-shopping-cart"></i>
            <!-- Counter Badge -->
            <span class="translate-middle badge rounded-pill bg-danger">
              0
              <!-- Dynamically update this number based on cart items -->
              <span class="visually-hidden">items in cart</span>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
